[Unit]
Description=Stripe Webhooks
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/{{ bin_filename }}
Restart=on-failure
User=ec2-user
Group=ec2-user
Environment="GIN_MODE={{ gin_mode }}"
Environment="WEB_SERVER_PORT={{ server_port }}"
Environment="DATABASE_URL={{ postgres_db_url }}"
Environment="STRIPE_WEBHOOK_SECRET={{ stripe_webhook_secret }}"
StandardOutput=append:{{ log_dir }}/{{ bin_filename }}.log
StandardError=append:{{ log_dir }}/{{ bin_filename }}.error.log

[Install]
WantedBy=multi-user.target
