[Unit]
Description=API Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/api-service
Restart=on-failure
User=ec2-user
Group=ec2-user
Environment="PORT={{ server_port }}"
Environment="HOME={{ ansible_env.HOME }}"
Environment="DATABASE_URL={{ postgres_db_url }}"
Environment="REDIS_URL={{ redis_url }}"
Environment="MIGRATIONS_PATH={{ migration_path }}"
Environment="S3_BUCKET_USER_CONTENT={{ s3_bucket_user_content }}"
Environment="AWS_REGION={{ aws_region }}"
Environment="AWS_ACCESS_KEY_ID={{ aws_access_key_id }}"
Environment="AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}"
Environment="GOOGLE_API_KEY={{ google_web_api_key }}"
StandardOutput=append:{{ log_dir }}/api-service.log
StandardError=append:{{ log_dir }}/api-service.error.log

[Install]
WantedBy=multi-user.target
